@model BookApp.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h1 style="font-style:italic; text-align:center">Delete</h1>
<head>
<style>
  body{
        background-image:url('https://www.teahub.io/photos/full/190-1905135_background-images-of-books.png');
        background-repeat:no-repeat;
        background-attachment:fixed;
    
        background-position: center;
      
    }
</style>
</head>
<div>

    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book_Name)
        </dd>
        
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
      
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
          <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
